.button {
    color: white;
    background: $light-blue;
    border: none;
    display: inline-block;
    margin-right: $s-size;
    padding: $s-size;
    font-weight: 300;
    line-height: 1;
    text-decoration: none;
    &:hover {
        transform: scale(1.05);
    }
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888;
    &:hover {
        transform: none;
        background: rgba(136, 136, 136, 0.719);
    }
}

.delete-button {
    background: lighten($light-blue, 30%);
    border: 1px solid darken($off-white, 20%);
    border-top: none;
    border-right: none;
}