.input-group {
    display: flex;
    margin-bottom: $s-size;
    flex-wrap: wrap;

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom: $m-size;
    }
}

.input-group__item {
    margin: 0 $s-size $s-size 0;
}
