// Colors
$dark-grey: #333;
$light-blue: rgb(45, 192, 236);
$dark-blue: rgb(29, 32, 63);

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Mobile setting
$mobile-breakpoint: 45rem;
